In [1]:
import requests

In [2]:
API_KEY = ''

In [3]:
set_id = "10179-1"

url = "https://rebrickable.com/api/v3/lego/sets/{}/parts/".format(set_id)

params = { 'key': API_KEY, 'format': 'json'}

response = requests.get(url, params)

In [4]:
response.json().keys()

dict_keys(['count', 'next', 'previous', 'results'])

In [5]:
response.json()['count']

298

In [6]:
response.json()['next']

'https://rebrickable.com/api/v3/lego/sets/10179-1/parts/?format=json&key=1cf8c542047d5f92caad623f69d64ee5&page=2'

In [7]:
response.json()['previous']

In [8]:
len(response.json()['results'])

100

In [9]:
response.json()['results'][0].keys()

dict_keys(['id', 'inv_part_id', 'part', 'color', 'set_num', 'quantity', 'is_spare', 'element_id', 'num_sets'])

In [10]:
response.json()['results'][0]['id']

224313

In [11]:
response.json()['results'][0]['inv_part_id']

224313

In [12]:
response.json()['results'][0]['part']

{'external_ids': {'BrickOwl': ['222977'], 'LEGO': ['21712', '86644', '92411']},
 'name': 'Bracket 1 x 2 - 2 x 2',
 'part_cat_id': 9,
 'part_img_url': 'https://m.rebrickable.com/media/parts/elements/4277932.jpg',
 'part_num': '44728',
 'part_url': 'https://rebrickable.com/parts/44728/bracket-1-x-2-2-x-2/'}

In [13]:
response.json()['results'][0]['color']

{'external_ids': {'BrickLink': {'ext_descrs': [['Black']], 'ext_ids': [11]},
  'BrickOwl': {'ext_descrs': [['Black']], 'ext_ids': [38]},
  'LDraw': {'ext_descrs': [['Black']], 'ext_ids': [0]},
  'LEGO': {'ext_descrs': [['Black', 'BLACK'],
    ['Metallic Black', 'MET.BLACK'],
    ['CONDUCT. BLACK']],
   'ext_ids': [26, 149, 1012]},
  'Peeron': {'ext_descrs': [['black']], 'ext_ids': [None]}},
 'id': 0,
 'is_trans': False,
 'name': 'Black',
 'rgb': '05131D'}

In [14]:
response.json()['results'][0]['set_num']

'10179-1'

In [15]:
response.json()['results'][0]['quantity']

4

In [16]:
response.json()['results'][0]['is_spare']

False

In [17]:
response.json()['results'][0]['element_id']

'6117973'

In [18]:
response.json()['results'][0]['num_sets']

259

In [19]:
import pandas as pd

In [20]:
url = "https://rebrickable.com/api/v3/lego/sets/"

params = { 'key': API_KEY, 'format': 'json'}

response = requests.get(url, params)

In [21]:
data = [pd.DataFrame.from_dict(response.json()['results'])]
url = response.json()['next']

while url:
    response = requests.get(url)
    data.append(pd.DataFrame.from_dict(response.json()['results']))
    url = response.json()['next']

In [22]:
df = pd.concat(data)

In [23]:
df.shape

(12266, 8)

In [24]:
df[['year', 'name', 'num_parts']].groupby('year').agg({'name':'count', 'num_parts':'mean'})

      name   num_parts
year
1949     5   99.600000
1950     6    1.000000
1953     4   13.500000
1954    14   12.357143
1955    28   36.642857
1956    12   18.500000
1957    20   44.750000
1958    42   44.333333
1959     4   16.250000
1960     3  175.333333
1961    17   70.588235
1962    40   81.750000
1963    18   33.333333
1964    11   82.636364
1965    10  107.100000
1966    94   40.617021
1967    21   98.714286
1968    25  127.200000
1969    69   64.594203
1970    29   84.862069
1971    45   67.244444
1972    38  102.763158
1973    68  103.367647
1974    39  116.769231
1975    31  155.193548
1976    68  153.161765
1977    92   91.500000
1978    73  146.602740
1979    82  105.439024
1980    88  126.670455
...    ...         ...
1989   114  102.070175
1990    85  202.023529
1991   106  166.500000
1992   115  119.486957
1993   113  145.929204
1994   129  126.759690
1995   128  179.070312
1996   144  201.986111
1997   194  129.324742
1998   301  152.554817
1999   276  114.057971
2000   327  104.522936
2001   344  103.537791
2002   451  115.155211
2003   417  159.227818
2004   371  139.185984
2005   331  198.453172
2006   284  246.471831
2007   296  246.969595
2008   349  231.753582
2009   405  196.041975
2010   420  222.040476
2011   505  159.522772
2012   591  155.556684
2013   613  175.753670
2014   718  168.636490
2015   676  198.680473
2016   622  245.456592
2017   577  286.171577
2018   342  179.181287

[68 rows x 2 columns]