# Get Social-Data for different Accounts

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [2]:
url = 'https://socialblade.com/twitter/user/tagesschau'
html = requests.get(url).text
bs = BeautifulSoup(html, 'lxml')

In [3]:
data = []
for elem in bs.findAll('div', {'style':'width: 860px; height: 32px; line-height: 32px; background: #f8f8f8; padding: 0px 20px; color:#444; font-size: 9pt; border-bottom: 1px solid #eee;'}):
    row = [div.get_text().strip().replace(',', '').replace('--', '0') for div in elem.findAll('div') if '\n' not in div.get_text().strip()]
    data.append(row)
for elem in bs.findAll('div', {'style':'width: 860px; height: 32px; line-height: 32px; background: #fcfcfc; padding: 0px 20px; color:#444; font-size: 9pt; border-bottom: 1px solid #eee;'}):
    row = [div.get_text().strip().replace(',', '').replace('--', '0') for div in elem.findAll('div') if '\n' not in div.get_text().strip()]
    data.append(row)

In [4]:
df = pd.DataFrame(data[:-1], columns=['Date', 'Weekday', 'New_Follower', 'Follower', 'New_Following', 'Following', 'New_Tweets', 'Tweets'])
for column in ['New_Follower', 'Follower', 'New_Following', 'Following', 'New_Tweets', 'Tweets']:
    df[column] = df[column].astype(int)
df['Date'] = pd.to_datetime(df['Date'])
df = df.set_index('Date').sort_index()
df.head()

,Weekday,New_Follower,Follower,New_Following,Following,New_Tweets,Tweets
Date,,,,,,,
2018-04-11,Wed,906,2445450,0,296,49,157461
2018-04-12,Thu,1292,2446742,0,296,57,157518
2018-04-13,Fri,942,2447684,0,296,53,157571
2018-04-14,Sat,1106,2448790,0,296,36,157607
2018-04-15,Sun,967,2449757,0,296,30,157637